html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--body-bg);
  font-family: var(--font-family);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

:root {
  --font-family: "Karla", sans-serif;
  --body-bg: #1e1f25;
  --btn-bg: #000;
  --btn-color: #cbcbcb;
  --btn-color-hover: #fff;
  --grad-color1: #eeaf61;
  --grad-color2: #fb9062;
  --grad-color3: #ee5d6c;
  --grad-color4: #ce4993;
  --grad-color5: #6a0d83;
}

.button-border {
  background: linear-gradient(
    115deg,
    var(--grad-color1),
    var(--grad-color2),
    var(--grad-color3),
    var(--grad-color4),
    var(--grad-color5)
  );
  padding: 2px;
  border-radius: 8px;
}

.button {
  width: 60px;
  height: 60px;
  border-radius: 8px;
  background-color: var(--btn-bg);
  color: var(--btn-color);
  font-size: 18px;
  border: none;
  font-family: inherit;
}

.icon {
  color: var(--btn-color);
}

.input {
  height: 17px;
  border: none;
  color: var(--btn-color-hover);
  background-color: var(--btn-bg);
  font-weight: 500;
  text-align: center;
}
#Up-vote-icon:hover {
  color: #ffffff;
  transform: scale(1.1);
}
.Up-vote:hover {
  background: linear-gradient(
    230deg,
    #eeaf61,
    #fb9062,
    #ee5d6c,
    #ce4993,
    #6a0d83
  );

  border-radius: 50%;
  color: #fff;
}

.button-border:hover {
  transform: scale(1.1);
  color: var(--btn-color-hover);
}
.button-border:hover {
  background: linear-gradient(
    230deg,
    #eeaf61,
    #fb9062,
    #ee5d6c,
    #ce4993,
    #6a0d83
  );
  color: #fff;
}
