body {
  margin: 0;
  padding: 0;
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  width: 400px;
  height: 112px;
  padding: 16px;
  gap: 16px;
  border-radius: 16px;
  border: 1px solid;
  color: #000;
  border: 1px solid #e1e4e8;
}

.cover {
  width: 80px;
  height: 80px;
  border-radius: 8px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;

  justify-content: space-between;
  align-items: center;
}

.details {
}

h2 {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 0;
}
p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin-top: 0;
  color: #444d56;
}

.playBtn {
  width: 32px;
  height: 32px;
  padding: 8px;
  gap: 4px;
  border-radius: 24px;
  background: #7a6fcd;
  border: 2px solid #7a6fcd;
  display: flex;
  align-items: center;
  justify-content: center;
}
